<header>
  <nav class="navbar navbar-expand-lg bg-dark text-light">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">Lego Shop</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mb-2 navbar-nav ml-auto mb-lg-0">
          <li class="text-white nav-item">
            <a
              class="text-white nav-link active"
              aria-current="page"
              href="/courses/create"
            >Đăng khóa học</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>