<div class="container">
  <div class="error-image d-flex justify-content-center" style="display:flex; justify-content: center; align-items:center; min-height:100vh">
    <img src="/images/404.png" alt="" class="img-fluid" />
  </div>
</div>